<launch>

       <node name="mobile_maskrcnn" pkg="mobile_maskRCNN" type="video.py" clear_params="true" output="screen">

    </node>

<!--   <node name = "runslam" pkg="ORB_SLAM2" type="Mono" args ="/media/tx2/Drive/wuzida/ORB_SLAM2/Vocabulary/ORBvoc.txt /media/tx2/Drive/wuzida/ORB_SLAM2/Examples/Monocular/EuRoC.yaml" output="screen"/> -->

    <include file="/media/tx2/Drive/wuzida/catkin_ws_realsense/src/realsense-ros/realsense2_camera/launch/rs_camera.launch"/>

</launch>
